{% extends 'layouts/base.html' %}
{% load bootstrap4 %}

{% block title %}Создать статью{% endblock %}
{% block page_header %}Создать статью{% endblock %}

{% block content %}
    <div class="site-form bg-white shadow rounded pb-2 px-4 pt-4 mt-4">
        <form action="{% url 'news:create' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input class="btn btn-success" type="submit" value="Опубликовать">
            {% endbuttons %}
        </form>
    </div>
{% endblock %}